* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
}

body,
button {
  font-family: "Poppins";
}

.divVideo {
  width: 100%;
  height: 100%;
  position: absolute;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

}

.txtErro {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.conteudo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100%;
  padding: 60px;
  z-index: 2;

  h1 {
    font-size: 40px;
  }

  button {
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 32px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 20px;
  }
}
/* view hheght */
